h1{
    text-align: center;
}
h3{
    text-align: center;
}
.r{
    background-color: #777777;
}
article{
	height: 5%;
	width: 12%;
	text-align:center;
	display: inline-block;
	margin-top: 1%;
	margin-right: 5%;
	margin-bottom: 1%;
	margin-left: 5%;
	padding-top:10%;
	padding-right: 10%;
	padding-bottom: 10%;
	padding-left: 10%;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
    background-color: white;
    font-size: 27px;
}

img{
    width:280px;
    height: 300px;
}

.tt{
    width: 50px;
    height: 50px;
}

.pp{
    width: 50px;
    height: 50px;
}

